{
    "extends": "airbnb/base",
    "parser": "babel-eslint",
    "rules": {
      "no-console": 0,
      "max-len": [1, 120, 2],
      "no-param-reassign": [2, { "props": false }],
      "import/no-dynamic-require": 0,
      "global-require": 0
    },
    "env": {
      "mocha": true
    }
  }